.Receiver-container {
  .receiver-item {
    width: 300px;
    border: 1px solid black;
    padding: 18px;
  }
  .passphrase-form {
    width: 300px;
    border: 1px solid black;
    padding: 18px;
  }
}
