.Asset-item {
  border: 1px solid black;
  width: 100%;
  padding: 8px;
  cursor: pointer;

  .image-container {
    .asset-image {
      width: 65px;
      height: 65px;
    }
  }
  .name-container {
    flex: 1;
  }
}
