@import "styles/variables.scss";

.Address-list {
  .asset-address-container {
    margin-top: 60px;
  }
  .platform-address-container {
    margin-top: 28px;
  }
  .deco {
    width: 64px;
    height: 4px;
    margin-top: 29px;
    margin-bottom: 10px;
  }
  .deco.platform-title-deco {
    background-color: $platform-green;
  }
  .deco.asset-title-deco {
    background-color: $asset-blue;
  }
  .address-item-container {
    margin-right: -30px;
    margin-left: -30px;
  }
}
