@import "styles/variables.scss";
@import "styles/mixin.scss";

.Address-list {
  @include respond-above(lg) {
    .container {
      max-width: 1300px;
    }
  }
  .asset-address-container {
    margin-top: 60px;
  }
  .platform-address-container {
    margin-top: 28px;
  }
  .deco {
    width: 64px;
    height: 4px;
    margin-top: 29px;
    margin-bottom: 10px;
  }
  .deco.platform-title-deco {
    background-color: $platform-green;
  }
  .deco.asset-title-deco {
    background-color: $asset-blue;
  }
}
