@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900");
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import "styles/variables.scss";
@import "styles/mixin.scss";

html {
  font-size: 12px;
}

body {
  font-family: "Montserrat", sans-serif;
}

@include respond-below(sm) {
  html {
    font-size: 16px;
  }
}

.mono {
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: $black;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.grey {
  color: $grey;
}

.grey2 {
  color: $grey2;
}

.grey3 {
  color: $grey3;
}
