@import url("https://fonts.googleapis.com/css?family=Cabin:400,700|Montserrat:400,700,900");

body {
  font-family: "Cabin", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
