$header-height: 80px;

$platform-green: #5ba5be;
$asset-blue: #4f6a8e;
$wallet-blue: #93a8ea;

$dark-grey: #8d8d8d;
$disabled-grey: #d8d8d8;
$disabledbg-grey: #efefef;
$standard-grey: #b3b3b3;

$bg-white: #f9f9f9;
$dark: #2c2c2c;

$error-red: #ff5b5b;
$varified-green: #75d08f;
$off-yellow: #ffd638;
