$header-height: 80px;
$sidemenu-width: 216px;

$platform-green: #5ba5be;
$asset-blue: #4f6a8e;

$grey: #8d8d8d;
$grey2: #d8d8d8;
$grey3: #efefef;

$white: #f9f9f9;
$black: #2c2c2c;

$wallet-blue: #4a8fff;

$error-red: #ff5b5b;
$varified-green: #75d08f;
$off-yellow: #ffd638;
