@import "styles/typography.scss";

html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: white;
  border: 1px solid $blue;
  border-radius: 21px;
  color: $blue;

  &:hover:enabled {
    background-color: darken($blue, 15%);
    color: white;
  }
  &:disabled {
    background-color: $blue;
  }
}
