@import "styles/variables.scss";

.Exchange {
  padding: 50px;
  position: relative;

  @media screen and (max-width: 872px) {
    & {
      padding: 30px 0px 30px 0px;
    }
  }

  .page-container {
    width: 100%;
    max-width: 450px;
    margin-bottom: 18px;
  }

  .exchange-container {
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    min-height: 645px;
  }

  .title {
    color: $wallet-blue;
  }

  .loading-container {
    height: 420px;
  }

  .description-container {
    margin-top: 30px;
    .description {
      color: $dark-grey;
    }
  }

  .exchange-rate-container {
    margin-top: -15px;
  }

  .btc-address-container {
    margin-top: 25px;
  }

  .btc-calculator {
    margin-top: 15px;
  }

  .exchange-history-container {
    margin-top: 55px;
  }

  .email-text {
    color: $wallet-blue;
  }

  .select-address-container {
    margin-top: 30px;
    .select-address-label {
      color: $dark-grey;
    }
    select {
      margin-top: 8px;
    }
  }
  .loading-text,
  .no-address-label {
    line-height: 60px;
    font-weight: bold;
    color: $dark-grey;
  }

  .back-icon-container {
    cursor: pointer;
    .back-icon {
      font-size: 2rem;
      color: $wallet-blue;
    }
  }
}
