@import "styles/variables.scss";
@import "styles/mixin.scss";

.app {
  .custom-toast {
    font-size: 16px;
    .Toastify__toast {
      min-height: 45px;
    }
  }
  .app-container {
    min-height: calc(100vh - #{$header-height});
    padding-bottom: 40px;
  }
}
