.Create-address-container {
  .add-btn {
    height: 60px;
    border: 1px solid black;
    cursor: pointer;
  }
  .download-btn {
    height: 60px;
    border: 1px solid black;
    cursor: pointer;
  }
}
