@import "styles/variables.scss";
@import "styles/mixin.scss";

.Account {
  position: relative;
  background: linear-gradient(180deg, $platform-green 200px, transparent 0%);

  .left-panel {
    padding: 15px;
    max-width: 1084px;
    flex: 1;
    min-width: 0;
  }

  .element-container {
    background-color: white;
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 30px;
    padding-bottom: 42px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.07);
    border-radius: 5px;

    @include respond_below(sm) {
      & {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    .ccc-text {
      color: $platform-green;
      font-size: 3rem;

      @include respond_below(sm) {
        & {
          font-size: 2rem;
        }
      }
    }
    .send-btn {
      width: 168px;
    }
  }

  .right-container {
    margin: 28px 12px 28px 12px;
    width: 412px;

    .right-panel {
      box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      border-radius: 5px;
    }

    @media screen and (max-width: 872px) {
      position: absolute;
      width: 100%;
      margin: 0 0 0 0;

      .right-panel {
        height: calc(100vh - #{$header-height});
        border-radius: 0;
        box-shadow: none;
        overflow: scroll;
      }
    }
  }
}
