@import "styles/variables.scss";
@import "styles/mixin.scss";

.Address-item {
  width: 100%;
  margin-bottom: 18px;

  @include respond-below(sm) {
    & {
      margin-bottom: 18px;
    }
  }

  cursor: pointer;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;

  .item-body {
    padding: 24px;
    padding-top: 14px;
    color: white;
    overflow: hidden;

    .address-text {
      opacity: 0.4;
    }

    .address-name {
      font-size: 24px;
      font-weight: bold;
    }

    &.platform-type {
      background-color: $platform-green;
    }

    &.asset-type {
      background-color: $asset-blue;
    }
  }

  .platform-account {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: white;
    .balance {
      font-weight: bold;
      font-size: 24px;
    }

    .asset-image {
      height: 37px;
      width: 37px;
      display: inline-block;
      margin-bottom: 0px;
      border-radius: 19px;
      margin-right: 12px;
      overflow: hidden;
      vertical-align: bottom;
    }
  }
}
