@import "styles/mixin.scss";
@import "styles/variables.scss";

.Header {
  background-color: white;
  height: $header-height;
  border-bottom: 1px solid $disabledbg-grey;
  position: relative;
  z-index: 5;

  .header-container {
    padding: 0 24px 0 24px;
  }

  @include respond-above(lg) {
    .container {
      max-width: 1300px;
    }
  }

  .logo {
    width: auto;
    height: 24px;
  }
  .loading-bar {
    background-color: $wallet-blue;
    height: 3px;
    position: absolute;
    bottom: -3px;
    width: 100%;
  }
}
