@import "styles/mixin.scss";
.Header {
  .navbar-brand {
    padding: 0;
    .logo {
      width: 40px;
      height: 40px;
      margin-right: 8px;
    }
    .logo-text {
      vertical-align: middle;
      @include heading-font();
      @include respond-below(xs) {
        .codechain {
          display: none;
        }
      }
    }
  }
}
