@import "styles/mixin.scss";
@import "styles/variables.scss";

.Header {
  height: $header-height;
  border-bottom: 1px solid $disabledbg-grey;
  .logo {
    width: auto;
    height: 24px;
  }
  .menu-btn {
    padding: 25px;
    color: $disabled-grey;
    cursor: pointer;
  }
}
