@import "styles/variables.scss";
@import "styles/mixin.scss";

.side-menu {
  position: relative;
  width: $sidemenu-width;
  height: calc(100vh - #{$header-height});
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: white;

  @include respond-below(sm) {
    & {
      width: 100%;
      position: fixed;
      z-index: 10;
    }
  }

  .title-container {
    padding: 36px;
    padding-top: 50px;
  }

  .left-arrow {
    position: absolute;
    cursor: pointer;
    padding: 18px;
    right: 10px;
    top: 3px;
    color: $disabled-grey;
  }

  .logout-btn {
    position: absolute;
    cursor: pointer;
    bottom: 92px;
    left: 36px;
    color: $dark-grey;
  }
}
