@import "styles/variables.scss";
@import "styles/mixin.scss";

.Select-key-file {
  position: relative;
  text-align: center;
  padding-bottom: 40px;

  .title-container {
    padding-top: 60px;
  }

  .logo-title {
    font-size: 3.5rem;
  }

  .welcome-text-container {
    margin-top: 18px;
    max-width: 400px;
    display: inline-block;

    .welcome-text {
      color: $dark-grey;
    }
  }

  .logo {
    width: 100px;
    height: auto;
  }

  @include respond-below(sm) {
    .logo-title {
      font-size: 2rem;
    }

    .logo {
      width: 80px;
      height: auto;
    }
  }

  .button-container {
    margin-top: 22px;
    .button-item {
      width: 250px;
      border-radius: 5px;
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      border: 1px solid $wallet-blue;
      text-align: center;
      color: $wallet-blue;
      margin-right: 10px;
      margin-left: 10px;
      padding: 34px 12px 34px 12px;
      cursor: pointer;

      &:hover {
        background-color: $wallet-blue;
        color: #ffffff;
      }

      .icon {
        width: 78px;
        height: 78px;
      }

      .text {
        margin-top: 20px;
        font-size: 1.2rem;
        line-height: 1.25;
        @include heading-font();
      }

      .button-description {
        margin-top: 16px;
      }

      @include respond-below(sm) {
        & {
          width: 150px;

          .icon {
            width: 40px;
            height: 40px;
          }

          .text {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
