@import "styles/variables.scss";

.Send-CCC {
  padding: 50px;
  position: relative;

  .loading-container {
    height: 420px;
  }

  @media screen and (max-width: 872px) {
    & {
      z-index: 2;
      background-color: white;
      padding: 30px;
    }
    & {
      height: calc(100vh - #{$header-height});
      overflow: scroll;
    }
    .loading-container {
      height: calc(100vh - #{$header-height});
    }
  }

  .title {
    color: $wallet-blue;
  }
  .complete-container {
    height: 400px;
    font-size: 1.7rem;
    color: $wallet-blue;
    font-weight: bold;
  }
  .sending-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(44, 44, 44, 0.3);
  }

  .balance-container {
    .balance-text {
      font-size: 1.28rem;
      color: $dark-grey;
      font-weight: bold;
    }
    .amount {
      font-size: 1.14rem;
    }
  }

  .cancel-icon-container {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    cursor: pointer;
    .cancel-icon {
      font-size: 2rem;
      color: $wallet-blue;
    }
  }
}
