@import "styles/variables.scss";
.Exchange-history {
  .exchange-address-title {
    color: $dark-grey;
  }
  .exchange-content-container {
    margin-top: 15px;

    .empty {
      color: $disabled-grey;
      font-size: 1.14rem;
      font-weight: bold;
    }

    .exchange-history-loading {
      color: $disabled-grey;
      font-size: 1.14rem;
      font-weight: bold;
    }
  }
}
