@import "styles/variables.scss";

.Receiver-item {
  .max-btn {
    width: 55px;
    margin-bottom: 18px;
    margin-left: 5px;
  }
  .receiver-item-index {
    font-size: 1.2rem;
    color: $wallet-blue;
    font-weight: bold;
  }
  .receiver-item-cancel {
    color: $disabled-grey;
    font-weight: bold;
    cursor: pointer;
  }
}
