.Create-address-modal {
  width: 400px;

  .button-container {
    .btn {
      width: 100px;
    }
  }
  @media screen and (max-width: 440px) {
    & {
      width: 100%;

      .button-container {
        .btn {
          width: 50%;
        }
      }
    }
  }
}
