@import "styles/variables.scss";
@import "styles/mixin.scss";

.Restore-wallet {
  .close-btn {
    margin-top: 100px;

    @include respond_below(sm) {
      & {
        margin-top: 30px;
      }
    }

    .icon {
      width: 38px;
      height: 38px;
      color: $wallet-blue;
      cursor: pointer;
    }
  }
  .title-container {
    margin-top: 42px;
    margin-bottom: 20px;
    .title {
      font-size: 2rem;
      color: $wallet-blue;
    }
  }

  .password-description {
    margin-top: 20px;
    color: $dark-grey;
  }

  .restore-content {
    max-width: 416px;
    margin-bottom: 60px;
    .description {
      color: $dark-grey;
    }

    .phrase-container {
      margin-top: 20px;
      .phrase-input {
        padding: 30px;
        width: 100%;
        height: 170px;
        resize: none;
        border-radius: 5px;
        box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.07);
        background-color: #ffffff;
        border: 1px solid $wallet-blue;
      }
    }
    .username-input-container {
      margin-top: 18px;
    }
  }

  .main-btn-container {
    margin-top: 28px;
    .main-btn {
      height: 48px;
      width: 100%;
    }
  }
}
