@import "styles/variables.scss";
@import "styles/mixin.scss";

.Login {
  position: relative;

  .title-container {
    margin-top: 100px;
  }

  .logo-title {
    font-size: 3.5rem;
  }

  .logo {
    width: 100px;
    height: auto;
  }

  .login-form-container {
    margin-top: 50px;
  }

  .open-different-btn-container {
    margin-top: 36px;
    margin-bottom: 36px;
    .open-different-btn {
      font-size: 1.28rem;
      color: $wallet-blue;
      font-weight: 600;
    }
  }
}
